<nav>
    <div class="site-title">
        <a href="/"><h1>Code Blog</h1></a>
        <p> Solving some problems
        </p>
    </div>
    <ul>
        <li><a href="/">Home Page</a></li>
        <!-- <li><a href="/about">About</a></li> -->
        <li><a href="/blogs/create">New Problem</a></li>
    </ul>    
    
</nav>